@import "../../../styles/variables";
$btn-font-family: $font-family-base !default;

// 按钮大小padding
$btn-padding-y: 0.375rem !default;
$btn-padding-x: 0.75rem !default;

$btn-padding-y-sm: 0.25rem !default;
$btn-padding-x-sm: 0.5rem !default;

$btn-padding-y-lg: 0.5rem !default;
$btn-padding-x-lg: 1rem !default;

// 按钮字体大小 fontsize
$btn-font-size: $font-size-base !default;
$btn-font-size-sm: $font-size-sm !default;
$btn-font-size-lg: $font-size-lg !default;

// 按钮字体字重 fontweight
$btn-font-weight: 400;
$btn-font-weight-lg: 450;
$btn-font-weight-sm: 380;

// 按钮圆角 radius
$btn-border-radius: $border-radius !default;
$btn-border-radius-lg: $border-radius-lg !default;
$btn-border-radius-sm: $border-radius-sm !default;

// 按钮字体颜色
$btn-font-default-color: $gray-8 !default;
$btn-font-color: $white !default;
$btn-font-primary-color: $primary !default;

// 按钮边框
$btn-border-color: $gray-4;

// 按钮背景颜色
$btn-bg: $white !default;
$btn-bg-primary: $primary !default;
$btn-bg-danger: $error !default;

// 按钮禁用
$btn-disabled-opacity: 0.5 !default;

// 混合
@mixin btn-size(
  $padding-y,
  $padding-x,
  $font-size,
  $font-weight,
  $border-radius
) {
  padding: $padding-y $padding-x;
  font-size: $font-size;
  font-weight: $font-weight;
  border-radius: $border-radius;
}

@mixin btn-type(
  $color,
  $bg,
  $border-wdith: 0,
  $hover-border-color: transparent,
  $hover-color: lighten($color, 18%),
  $hover-bg: lighten($bg, 8%),
) {
  color: $color;
  background: $bg;
  border: $border-wdith solid;
  &:hover {
    border-color: $hover-border-color;
    background: $hover-bg;
    color: $hover-color;
  }
}
