@import "./variables";

@import "./normal";

@import "./../components/Button/style/button";

@import "./../components/Menu/style/menu";

h1 {
  font-size: $h1-font-size;
}

h2 {
  font-size: $h2-font-size;
}

h3 {
  font-size: $h3-font-size;
}

h4 {
  font-size: $h4-font-size;
}

h5 {
  font-size: $h5-font-size;
}

h6 {
  font-size: $h6-font-size;
}

a {
  @extend %link;
  &:hover {
    color: $link-hover-color;
  }
}
